apiVersion: v1
kind: Secret
metadata:
  name: csi-s3-secret
  namespace: kube-system
stringData:
  accessKeyID: 6A
  secretAccessKey: fDj
  # For AWS set it to "https://s3.<region>.amazonaws.com"
  endpoint: https://s3.eu-central-1.wasabisys.com/cluster-dev
  # If not on S3, set it to ""
  region: ""
